body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("../img/stars.png");
}

a:link, a:visited {
    color: lime;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: lime;
    background-color: transparent;
    text-decoration: underline;
}

h4 {
    margin: 1em 0;
}

.main {
    background-color: black;
    width: calc(100% - 2px);
    max-width: 798px;
    margin: 0 auto;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.header {
    border-bottom: 1px solid white;
    width: 100%;
}

.header img {
    width: 100%;
    vertical-align: bottom;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.menu {
    border-bottom: 1px solid white;
    width: 100%;
}

.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.menu-links li {
    display: table-cell;
    text-align: center;
    width: 20%;
}

.menu-links a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.menu-links a:hover {
    background: radial-gradient(circle, green 0%, transparent 100%);
}

.content {
    padding: 8px;
}

.comic-list {
    
    
}

.comic-list .item {
    overflow: hidden;
    padding-bottom: 24px;
}

.item .cover {
    float: left;
}

.item .cover img {
    width: 100%;
    vertical-align: bottom;
}

.item .info {
    margin-left: 5px;
    float: left;
}

.info .title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.info .status {
    padding-bottom: 5px;
    font-style: italic;
    font-size: 12px;
}

.ongoing {
    color: yellow;
}

.finished {
    color: limegreen;
}

.info .desc {
    padding-bottom: 5px;
}

.info .pubdate {
    padding-bottom: 5px;
    font-style: italic;
    font-size: 12px;
}

.info .link {
    padding-bottom: 5px;
}

.info .chapters {

}

.info .chapters summary {
    color: lime;
    cursor: pointer;
    user-select: none;
}

.chapters ul {
    margin: 8px 0;
}

.links .shower {
    display: block;
}

.links .hider {
    display: none;
}

.post {
    
}

.post .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post .date {
    font-size: 12px;
    margin-bottom: 8px;
}

.post .text {
    
}

@media (max-width: 800px) {
    .menu-links li {
        display: block;
        width: 100%;
    }
}
