body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: 8px 0;
}

a:link, a:visited {
    color: lime;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: lime;
    background-color: transparent;
    text-decoration: underline;
}

.mainbox {
    
}

.top {
    cursor: pointer;
}

.image-container {
    text-align: center
}

.image-container.all, .image-container.height {
    height: 100vh
}

.all .page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.width .page-image {
    width: 100%;
}

.height .page-image {
    height: 100%;
}

.none .page-image {
    
}

.bottom {
    text-align: center;
}

.help, .fit {
    margin: 8px auto;
    width: 100%;
    max-width: 800px;
    font-size: 12px;
}

.fit label {
    cursor: pointer;
}

.fit input {
    margin: 0 0 0 5px;
    cursor: pointer;
}
